html {
  scroll-behavior: smooth;
}

.logo {
  margin-right: 5%;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  background: #C4A1F3
}
.jumbotron h1 {
  color: white;
  font-weight: 700;
}
.jumbotron p {
  color: white;
}

.intro-start-btn {
  color: white;
  background: #47525E
}

.logo {
  width: 18%;
}

#noticias .container-title {
  color: #976DD0
}

.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}